<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}FoodSharer{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/styleTemplate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('CSS/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">

</head>
<body>
<div class="header">
    <div>
        Zalogowany jako:<b>{{ user }}</b> <a class="right" href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
        <a href="{{ path('post_index') }}"><img src="{{ asset('images/logo.png') }}" alt="Logo"></a>

    </div>
</div>
<div class="body">
    <div>
        <div class="header">
            <ul>
                <li class="current">
                    <a href="{{ path('post_index') }}">Ogłoszenia</a>
                </li>
                <li>
                    <a href="{{ path('post_new') }}">Dodaj</a>
                </li>
                <li>
                    <a href="featured.html">Użytkownik</a>
                </li>
                <li>
                    <a href="{{ path('search_form') }}">Szukaj</a>
                </li>
                <li>
                    <a href="{{ path('transaction_index') }}">Twoje rezerwacje</a>
                </li>

            </ul>
        </div>
    </div>
</div>
{% block body %}{% endblock %}
<div class="footer">
    <div>
        <p>
            &copy; Copyright 2017. All rights reserved
        </p>
    </div>
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/post.js') }}"></script>
{% endblock %}
</body>
</html>


