{% trans_default_domain 'FOSUserBundle' %}
<br><br>
<h1>
    Rejestracja
</h1>
<br>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
<br>
<a href="{{ path('fos_user_security_login') }}">Logowanie</a>
