{% extends 'base.html.twig' %}

{% block body %}
    <h1>Posts list</h1>

<form method="get">
    <input type="text" name="order">
    <input type="submit">
</form>
    <table class="table">
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>Podkategoria</th>
                <th>Tytuł</th>
                <th>Krótki opis</th>
                <th>Ostrość</th>
                <th>Wegańskie</th>
                <th>Ma gluten?</th>
                <th>Do kiedy trzeba zjeść?</th>
                <th>Składniki które zawiera potrawa:</th>
                <th>Zdjęcie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.category }}</td>
                <td>{{ post.subCategory }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.hotness }}</td>
                <td>{{ post.vegan }}</td>
                <td>{{ post.gluten }}</td>
                <td>{% if post.expiration %}{{ post.expiration|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    {% for ingredient in post.ingredients %}
                        {{ ingredient.getName }},
                    {% endfor %}
                </td>
                <td>
                    {% if (post.photo) %}
                    <img src="{{  asset('uploads/images/') ~ post.photo}}" class="imageSize">
                    {%  endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('post_show', { 'id': post.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
