{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-5">
                <br><br>
                {% form_theme form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}
                <br>
                {{ form_label(form.subCategory) }}
                {{ form_widget(form.subCategory) }}
                <br>
                {{ form_label(form.hotness) }}
                {{ form_widget(form.hotness) }}
                <br>
                {{ form_label(form.vegan) }}
                {{ form_widget(form.vegan) }}
                <br>
                {{ form_label(form.gluten) }}
                {{ form_widget(form.gluten) }}
                <br>
                {{ form_label(form.expiration) }}
                {{ form_widget(form.expiration) }}
                <br>
                {{ form_label(form.ingredients) }}
                <br>
                {% for child in form.ingredients.children %}
                    <div class="form-check form-check-inline">
                        {{ form_widget(child) }}
                    </div>
                {% endfor %}
                <br>
                {{ form_label(form.portions) }}
                {{ form_widget(form.portions) }}
                <br><br>
                <input type="submit" value="Szukaj"/>
                {{ form_end(form) }}
                <br>
            </div>
        </div>
    </div>

{% endblock %}