{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Kategoria</th>
                <td>{{ post.category }}</td>
            </tr>
            <tr>
                <th>Podkategoria</th>
                <td>{{ post.SubCategory }}</td>
            </tr>
            <tr>
                <th>Tytuł</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Krótki opis</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Ostrość</th>
                <td>{{ post.hotness }}</td>
            </tr>
            <tr>
                <th>Wegańskie?</th>
                <td>{{ post.vegan }}</td>
            </tr>
            <tr>
                <th>Ma gluten?</th>
                <td>{{ post.gluten }}</td>
            </tr>
            <tr>
                <th>Do kiedy trzeba zjeść?</th>
                <td>{% if post.expiration %}{{ post.expiration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Składniki które zawiera potrawa:</th>
                    {% for ingredient in post.ingredients %}
                    <td>{{ ingredient.getName }}</td>
                {% endfor %}
            </tr>
            <tr> {% if (post.photo) %}
                <th>Zdjęcie</th>
                <td><img src="{{  asset('uploads/images/') ~ post.photo}}" class="imageSize"></td>
                {%  endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'id': post.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
