{% extends 'base.html.twig' %}

{% block body %}
    {% import 'post/_macros.html.twig' as siteMacros %}
    <div class="row">
        <div class="col-8 offset-2"><br><br>
            <h1 class="text-center">Lista ogłoszeń użytkownika <b>{{ posts[0].user.username }}
                    {% if posts[0].user.rating > 0 %}
                        {% for i in 1..posts[0].user.rating %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                        {% endfor %}
                    {% endif %}
                </b></h1>
            <br>
            <table class="table">
                <thead>
                <tr>
                    <th>Użytkownik</th>
                    <th>
                        {{ siteMacros.ordered('title',order, direction, 'Tytuł') }}
                    </th>
                    <th>
                        {{ siteMacros.ordered('category',order, direction, 'Kategoria') }}
                    </th>
                    <th>
                        {{ siteMacros.ordered('subCategory',order, direction, 'Podkategoria') }}
                    </th>
                    <th>
                        {{ siteMacros.ordered('expiration',order, direction, 'Termin Przydatności') }}
                    </th>
                    <th>Składniki:</th>
                    <th>
                        {{ siteMacros.ordered('portions',order, direction, 'Ilość porcji') }}
                    </th>
                    <th>Zdjęcie</th>
                </tr>
                </thead>
                <tbody>
                {% for post in posts %}
                    <tr
                            {% if post.portions == 0 or post.expiration|date('d-m-Y H:i:s') < "now"|date('d-m-Y H:i:s')  %}
                                class="red"
                            {% endif %}
                    >
                        <td>{{ post.user.username }}
                            {% if post.user.rating > 0 %}
                                {% for i in 1..post.user.rating %}
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</td>
                        <td>{{ post.category }}</td>
                        <td>{{ post.subCategory }}</td>
                        <td>{% if post.expiration %}{{ post.expiration|date('d-m-Y H:i:s') }}{% endif %}</td>
                        <td>
                            {% for ingredient in post.ingredients %}
                                {{ ingredient.getName }},
                            {% endfor %}
                        </td>
                        <td>{{ post.portions }}</td>
                        <td>
                            {% if (post.photo) %}
                                <img src="{{ asset('uploads/images/') ~ post.photo }}" class="imageSize">
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
