{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2">
            <h1 class="text-center">
                <br>
                <tr>
                    <td>{{ post.title }} <a class="btn btn-primary btn-md"
                                            href="{{ path('post_edit', { 'id': post.id }) }}"> Edytuj</a></td>

                </tr>
            </h1>
            <br>

            <table class="table">
                <tbody>
                <tr>
                    <th>Dodany</th>
                    <td>{{ post.creationDate|date('d-m-Y H:i:s') }} przez użytkownika <a
                                href="{{ path('show_user_posts', { 'userId': post.user.id }) }}"><b>{{ post.user.username }}
                                {% if post.user.rating > 0 %}
                                    {% for i in 1..post.user.rating %}
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    {% endfor %}
                                {% endif %}
                            </b></a>
                    </td>
                </tr>
                <tr>
                    <th>Kategoria</th>
                    <td>{{ post.category }}</td>
                </tr>
                <tr>
                    <th>Podkategoria</th>
                    <td>{{ post.SubCategory }}</td>
                </tr>
                <tr>
                    <th>Krótki opis</th>
                    <td>{{ post.description }}</td>
                </tr>
                <tr>
                    <th>Ostrość</th>
                    <td>{{ post.hotness }}</td>
                </tr>
                <tr>
                    <th>Wegańskie?</th>
                    <td>{{ post.vegan }}</td>
                </tr>
                <tr>
                    <th>Ma gluten?</th>
                    <td>{{ post.gluten }}</td>
                </tr>
                <tr>
                    <th>Do kiedy trzeba zjeść?</th>
                    <td>{% if post.expiration %}{{ post.expiration|date('d-m-Y H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Składniki:</th>
                    <td>
                        {% for ingredient in post.ingredients %}
                            {{ ingredient.getName }},
                        {% endfor %}
                    </td>
                </tr>
                <tr> {% if (post.photo) %}
                        <th>Zdjęcie</th>
                        <td><img src="{{ asset('uploads/images/') ~ post.photo }}" class="imageSize"></td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Ilość porcji</th>
                    <td>{{ post.portions }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td id="reserve">
                        {% if post.portions == 0 %}
                            Nie mozna rezerwować - brak porcji
                        {% else %}
                            <form action="{{ path('post_show',{"id":post.id})~'#reserve' }}" method="post">
                                Ilość rezerwowanych poracji:<br>
                                <input type="number" name="reservationQty" value="1">
                                <br><br>
                                <div>
                                    {% if message %}
                                        {{ message }}
                                        <br><br>
                                    {% endif %}
                                </div>
                                <div class="red">
                                    {% if errorMessage %}
                                        {{ errorMessage }}
                                        <br><br>
                                    {% endif %}
                                </div>
                                <button class="btn btn-success btn-md" name="action" type="submit" value="reserve">
                                    Rezerwuj
                                </button>



                            </form>
                        {% endif %}
                    </td>
                </tr>
                </tbody>
            </table>


            <br>
            {% if post.user == app.user %}



                {{ form_start(delete_form) }}
                <br>
                <input class="btn btn-danger btn-md" type="submit" value="Usuń">
                {{ form_end(delete_form) }}
                <br>
                <a class="btn btn-primary btn-md" href="{{ path('post_index') }}">Wróć do listy</a>
            {% endif %}
        </div>
    </div>

    <ul>


    </ul>
{% endblock %}
